/* Define style tip 

.tip{
    line-height: 1;
    font-weight: bold;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
}

.tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
} */

/* end of tip style */